################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/obj/Debug
/GetCodFirstEF/.vs
/GetCodFirstEF/packages
/packages
/WebApI/bin
/WebApI/obj/Debug
/GetCodFirstEF/CodFirstEF/bin
/GetCodFirstEF/CodFirstEF/obj/Debug
/GetCodFirstEF/CodFirstEF/Scripts/WebForms/MSAjax
/GetCodFirstEF/CodFirstEF/Scripts
/GetCodFirstEF/CodFirstEF/Content
/GetCodFirstEF/CodFirstEF/fonts
/WebApI/Novos/ConectCar.Framework.Infrastructure.Errors/bin/Debug
/WebApI/Novos/ConectCar.Framework.Infrastructure.Errors/obj/Debug
/WebApI/Novos/ConectCar.Framework.Infrastructure.Json/bin/Debug
/WebApI/Novos/ConectCar.Framework.Infrastructure.Json/obj/Debug
